<!doctype html>
<html>
    <head>
        <title>Test</title>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        <script type="text/javascript" src="/static/js/date.js"></script>
        <script type="text/javascript" src="/static/js/highcharts.js"></script>
    </head>
    <body>
        <div id="container"></div>
        <script type="text/javascript">
            var timePeriod = '{{ timeperiod }}';
            var typemap = {
                real: 'line',
                bool: 'area',
            }
            var markermap = {
                real: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                },
                bool: {
                    enabled: false,
                    symbol: 'circle',
                    radius: 2,
                    states: {
                        hover: {
                            enabled: true
                        }
                    }
                }
            };
            var axismap = {
                real: 0,
                bool: 1
            };
            var chart;
            var signal_meta = [
                {% for s in all_sigs %}
                    {sid: {{ s.id }}, name: '{{ s }}' },
                {% endfor %}
            ];
            var default_sigs = [
                {% for s in all_sigs %}
                    {{ s.id }},
                {% endfor %}
            ];

            function getSignals(idlist, callback) {
                var idstr = '';
                $.each(idlist, function(idx,id) {
                    idstr += 'sids='+id+'&';
                });
                if (timePeriod) {
                    idstr += timePeriod;
                }
                $.getJSON('/climate/data?'+idstr, function(resp) {
                    var signals = resp.signals;
                    var signaldata = [];
                    $.each(signals, function(idx,sig) {
                        var sigdata = [];
                        $.each(sig.data, function(validx, itm) {
                            sigdata.push([Date.parse(itm.t).valueOf(), itm.v]);
                        });
                        signaldata.push({
                            name: sig.name, 
                            data: sigdata, 
                            type: typemap[sig.type], 
                            marker: markermap[sig.type],
                            yAxis: axismap[sig.type]
                        });
                    });
                    
                    callback(signaldata);
                });
            }

            $(document).ready(function() {
                function createChart(signaldata) {
                    chart = new Highcharts.Chart({
                        chart: {
                            renderTo: 'container',
                            zoomType: 'x'
                        },
                        global: { useUTC: true},
                        credits: {
                            enabled: false
                        },
                        title: {
                            text: 'Climate'
                        },
                        plotOptions: {
                            area: {
                                fillOpacity: 0.25
                            }
                        },
                        tooltip: { shared: true, crosshairs: true},
                        xAxis: {
                            type: 'datetime',
                        },
                        yAxis: [{ // Temperature axis
                            title: {
                                text: 'deg F'
                            }
                        },
                        {
                            title: {
                                text: ''
                            },
                            min: 0.0,
                            max: 6.0,
                            startOnTick: false,
                            endOnTick: false,
                            labels: {enabled: false}
                        }],
                        series: signaldata
                    });
                }
                getSignals(default_sigs, createChart);

                function updateChart(signaldata) {
                    var newNames = [];
                    var oldNames = [];
                    $.each(signaldata, function(idx,d) {
                        newNames.push(d.name);
                    });
                    $.each(chart.series, function(idx, d) {
                        oldNames.push(d.name);
                    });
                    console.log(oldNames);
                    console.log(newNames);
                    $.each(chart.series, function(idx, s) {
                        if (newNames.indexOf(s.name) == -1) {
                            s.remove(false);
                        }
                    });
                    $.each(signaldata, function(idx, s) {
                        if (oldNames.indexOf(s.name) == -1) {
                            chart.addSeries(s, false);
                        }
                    });
                    chart.redraw();
                };

                $('#get-signals').click(function() {
                    var idlist = [];
                    $('.signal-select:checked').each(function(idx,itm) {
                        idlist.push($(itm).attr('name'));
                    });
                    console.log(idlist);
                    getSignals(idlist, updateChart);
                });

            });
        </script>
    </body>
</html>
